.component-1 {
  left: 0;
  position: absolute;
  top: 0;
}

.component-1 .variant {
  height: 20px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 20px !important;
}

.component-1 .variant-3-4 {
  height: 13px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 13px !important;
}

.component-1 .instance-node {
  height: 32px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 32px !important;
}

.component-1 .variant-17-3 {
  height: 42px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 85px !important;
}

.component-1 .variant-50-2 {
  height: 16px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 16px !important;
}

.component-1 .variant-20-3 {
  height: 4px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 4px !important;
}

.component-1 .variant-2 {
  height: 140px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 140px !important;
}

.component-1 .variant-56-3 {
  height: 52px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 52px !important;
}

.component-1.variant-1-forty-eight {
  height: 347px;
  width: 438px;
}

.component-1.variant-1-forty-two {
  height: 46px;
  width: 83px;
}

.component-1.variant-1-thirty-eight {
  height: 24px;
  width: 174px;
}

.component-1.variant-1-fifty-three {
  height: 22px;
  width: 21px;
}

.component-1.variant-1-eleven {
  height: 285px;
  width: 269px;
}

.component-1.variant-1-forty-four {
  height: 847px;
  width: 842px;
}

.component-1.variant-1-forty {
  height: 19px;
  width: 119px;
}

.component-1.variant-1-nine {
  height: 554px;
  object-fit: cover;
  width: 460px;
}

.component-1.variant-1-six {
  height: 423px;
  object-fit: cover;
  width: 438px;
}

.component-1.variant-1-thirty-three {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-fifty-seven {
  height: 16px;
  width: 94px;
}

.component-1.variant-1-thirty-seven {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-twenty-six {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-seven {
  height: 240px;
  object-fit: cover;
  width: 1752px;
}

.component-1.variant-1-thirty-two {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-twenty-seven {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-twelve {
  height: 201px;
  width: 402px;
}

.component-1.variant-1-eight {
  height: 438px;
  object-fit: cover;
  width: 522px;
}

.component-1.variant-1-thirteen {
  height: 224px;
  width: 376px;
}

.component-1.variant-1-fifteen {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-fourteen {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-thirty-nine {
  height: 37px;
  width: 136px;
}

.component-1.variant-1-fifty {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-sixteen {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-twenty-three {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-twenty-five {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-seventeen {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-fifty-one {
  height: 16px;
  width: 94px;
}

.component-1.variant-1-forty-nine {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-twenty {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-ten {
  height: 284px;
  width: 577px;
}

.component-1.variant-1-fifty-two {
  height: 22px;
  width: 18px;
}

.component-1.variant-1-thirty-one {
  height: 263px;
  width: 438px;
}

.component-1.variant-1-forty-five {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-fifty-four {
  height: 22px;
  width: 20px;
}

.component-1.variant-1-four {
  height: 188px;
  object-fit: cover;
  width: 438px;
}

.component-1.variant-1-nineteen {
  height: 448px;
  object-fit: cover;
  width: 524px;
}

.component-1.variant-1-fifty-five {
  height: 22px;
  width: 20px;
}

.component-1.variant-1-fifty-six {
  height: 22px;
  width: 20px;
}

.component-1.variant-1-thirty-five {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-forty-seven {
  height: 245px;
  width: 438px;
}

.component-1.variant-1-forty-three {
  height: 30px;
  width: 99px;
}

.component-1.variant-1-thirty {
  height: 438px;
  width: 438px;
}

.component-1.variant-1-eighteen {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-one {
  height: 10px;
  width: 11px;
}

.component-1.variant-1-thirty-six {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-forty-one {
  height: 26px;
  width: 121px;
}

.component-1.variant-1-twenty-eight {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-twenty-four {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-three {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-thirty-four {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-five {
  height: 200px;
  width: 438px;
}

.component-1.variant-1-twenty-two {
  height: 129px;
  width: 444px;
}

.component-1.variant-1-twenty-one {
  height: 586px;
  width: 550px;
}

.component-1.variant-1-two {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-twenty-nine {
  height: 22px;
  width: 438px;
}

.component-1.variant-1-forty-six {
  height: 228px;
  width: 562px;
}
